@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background: url('/images/23928558.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
